
<% include header %>
<% include sidebar %>



<div class="small-9 column">

	<div class="row">
		<div class="small-6 column">
			You have no posts.
			<br>
			Create a post.
			<br>
			<br>
			<br>
			<br>
			<br>
		</div>
		<div class="small-6 column">
			You have no page.
			<br>
			Create a page.

			<br>
			<br>
			<br>
			<br>
			<br>
		</div>
		<div class="small-6 column">
			Son yorumlar
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
		</div>
		<div class="small-6 column">
			Son istatistikler

			<br>
			<br>
			<br>
			<br>
			<br>
		</div>
	</div>

</div>
</div>
<% include footer %>

