<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<script src="/js/jquery-2.1.4.min.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

	<link rel="stylesheet" href="/css/normalize.css" />
	<link rel="stylesheet" href="/css/foundation.css" />
	<link rel="stylesheet" href="/css/colors.css" />

</head>
<body>
<header>
</header>
<main>

	<div class="row" style="height:10%;">

	</div>
	<div class="row">
		<div class="panel silver small-4 small-centered column">

			<form method="POST">
				<div class="row">
					<div class="small-12 column">
						<input id="user_name" name="_id" type="text" placeholder="User Name">
					</div>
				</div>
				<div class="row">
					<div class="small-12 column">
						<input id="password" name="password" type="password" placeholder="Password">
					</div>
				</div>


				<div class="row">
					<div class="small-3 columns ">
						<div class="switch tiny">
							<input id="remember" type="checkbox">
							<label for="remember">Remember</label>
						</div>
					</div>
					<div class="small-3 columns end">
						<label for="remember">Remember</label>
					</div>
				</div>
				<input class="button small large-12" type="submit" value="Sign In" />

				<a class="" href="/"> Home Page </a>
			</form>

		</div>
	</div>
</div>


</main>
<footer>

</footer>

</body>
</html>
