<div  class="small-2 column">
<ul class="stack button-group">
	<li><a class="button" href="/kanepe/">Dashboard</a></li>
	<li><a class="button" href="/kanepe/aboutme/">Hakkımda</a></li>
	<li><a class="button" href="/kanepe/posts/">Yazılar</a></li>
	<li><a class="button" href="/kanepe/pages/">Sayfalar</a></li>
	<li><a class="button" href="/kanepe/sign-out/">Sign-Out</a></li>
</ul>


</div>
