
<% include header %>

<header>
	<div class="height-medium parallax-background">
		<div class="row full-width">
			<div class="small-2 small-offset-10 column" style="padding:20px">
				<h3>
					<a href="/" style="font-weight:900; text-shadow: 0px 0px 2px #000;">Ana Sayfa</a>
				</h3>
			</div>
		</div>
	</div>
</header>
<main>
	<div class="row">
		<div class="small-9 small-centered column">
			<br>
			<p class="projects grey-text text-darken-3 lighten-3"><%= message %></p>
		</div>
	</div>


<% include footer %>
