<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" href="/css/normalize.css" />
	<link rel="stylesheet" href="/css/foundation.css" />
	<link rel="stylesheet" href="/css/colors.css" />
	<title>milgar</title>

	<script src="/js/vendor/modernizr.js"></script>

	<style>

	.height-small { height: 100px; }
	.height-medium { height: 300px; }
	.height-large { height: 450px; }

		.intro {
			line-height: 150%;
			font-size: 28px;
		}

		.projects {
			font-size: 20px;
		}

		.footer {
			margin-top: 100px;
		}

	.parallax-background {
		background-image: url('/img/gnNSI2J.jpg');
		background-size: 100%;
		background-position: center bottom;
	}

	.full-width {
		max-width: 100%;
	}

	.text-color-grey {
		color : teal;
	}

	</style>
</head>
<body>
