
<% include header %>
<header>
	<div class="height-medium parallax-background">
		<% include social-links %>
	</div>
</header>
<main>
		<div class="row">
		  <div style="width:100%"></div>
			<div class="small-9 small-centered columns">
				<br>

				<p class="intro grey-text text-darken-3 lighten-3">
					<%= intro %>
				</p>

				<p class="projects grey-text text-darken-3 lighten-3"> <%- sonisler %></p>
				<br>


				<h4>Son Yazılarım</h4>
				<% if(links.length > 0){ %>
				<ul class="disc">
					<% links.forEach(function(link) { %>
					<li><a href="/blog/<%= link.permalink %>" class="collection-item"> <%= link.title %></a></li>
					<% }); %>
				</ul>

				<a href="/blog" class="collection-item"> Yazılarımın devamını buradan okuyabilirsiniz.</a>
				<% } else { %>
				Şuan için herhangi bir blog yazısı eklenmemiş durumda.
				<% } %>
			</div>
		</div>

<% include footer %>
