
<div class="row full-width">
	<div class="small-2 small-offset-10 column" style="padding:20px">
		<h3>
			<a href="/" style="font-weight:900; text-shadow: 0px 0px 2px #000;">Ana Sayfa</a>
		</h3>
	</div>
</div>
